<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot password?</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">JobMatchr</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/register}">Registration <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/calculate}">Calculate Job Match Score</a>
            </li>
        </ul>
    </div>
</nav>
<!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
<!--    <div class="container">-->
<!--        <div class="navbar-header">-->
<!--            <button type="button" class="navbar-toggle collapsed"-->
<!--                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"-->
<!--                    aria-controls="navbar">-->
<!--                <span class="sr-only">Toggle navigation</span> <span-->
<!--                    class="icon-bar"></span> <span class="icon-bar"></span> <span-->
<!--                    class="icon-bar"></span>-->
<!--            </button>-->
<!--            <a class="navbar-brand" href="#" th:href="@{/}">Registration and-->
<!--                Login Module</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>User Login</h1>
            <form th:action="@{/forgot_password}" method="post">

                <!-- Error message-->
                <div th:if="${error != null}">
                    <div class="alert alert-danger">
                        [[${error}]]
                    </div>
                </div>

                <div th:if="${message != null}">
                    <div class="alert alert-success">
                        [[${message}]]
                    </div>
                </div>

                <div class="form-group">
                    <p>We will be sending you a reset password link to your email.</p>
                    <label for="email">Email: </label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email ID" autofocus="autofocus" required>
                </div>


                <!-- submit button -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit"
                                   class="form-control btn btn-primary" value="Send" />
                        </div>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>
</body>
</html>