<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">JobMatchr</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/register}">Registration <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/get_started}">Get Started</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
            <h1>Let's Create Your Profile</h1>
            <div class="px-2">
                <form th:action="@{/matching}" method="post" class="justify-content-center" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="jobs">What jobs do you want?</label>
                        <input type="text" id="jobs" class="form-control" placeholder="Software Engineer" required>
                    </div>
                    <div class="form-group">
                        <label for="location">Location?</label>
                        <input type="text" id="location" class="form-control" placeholder="Denver, CO">
                    </div>
                    <label class="form-label" for="customFile">Upload your resume</label>

                    <!-- File upload -->
                    <input type="file" class="form-control" id="customFile" name="customFile" accept=".pdf,.doc" required/>

<!--                    <button type="submit" class="btn btn-primary btn-lg m-t-md">Upload Resume</button>-->
<!--                    <br>-->
                    <button type="submit" class="btn btn-primary btn-lg m-t-md">Begin Swiping</button>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>