<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">JobMatchr</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/register}">Registration <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/calculate}">Calculate Job Match Score</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Reset Password</h1>
            <form th:action="@{/reset_password}" method="post">
            <input type="hidden" name="token" th:value="${token}">
                <div class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your new password" autofocus="autofocus" required>
                </div>

                <!-- 'this' refers to the password currently in the form -->
                <div class="form-group">
                    <label for="confirm-password">Confirm Password: </label>
                    <input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="Confirm your password"
                           autofocus="autofocus" oninput="checkPasswordMatch(this);" required>
                </div>


                <!-- submit button -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit"
                                   class="form-control btn btn-primary" value="Change password" />
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<script type="text/javascript">

    <!-- Check that the passwords match   -->
    function checkPasswordMatch(fieldConfirmPassword) {

        let password = document.querySelector("#password");

        if (fieldConfirmPassword.value !== password.value) {
            fieldConfirmPassword.setCustomValidity("Passwords do not match");
        } else {
            fieldConfirmPassword.setCustomValidity("");
        }
    }
</script>
</body>
</html>